
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;600;700&family=Ropa+Sans&display=swap');
/* font-family: 'Jost', sans-serif;
font-family: 'Ropa Sans', sans-serif; */
body {
    margin: 0;
    padding: 0;
    font-family: 'Ropa Sans', sans-serif

}

.container {
    background-image: url("../../img/medical.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
}

h1 {
    margin-bottom: 20px;
}

.contact-form {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 400px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8); */
    font-size: 16px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: #555;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 400px;
}

button:hover {
    background-color: #0056b3;
}
/* Navigation Section Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Match the container::before background color */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure nav is above other content */
}

.menu-toggle {
    display: none; /* Hide the menu toggle on larger screens */
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item {
    font-size: 18px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #007bff; /* Match the button background color */
}

.dropdown-menu {
    display: none; /* Hide dropdown menus by default */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Match the container::before background color */
    border-radius: 5px;
    padding: 10px;
}

.dropdown-menu li {
    margin: 5px 0;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.dropdown-menu a:hover {
    color: #007bff; /* Match the button background color */
}

/* Show dropdown menus on hover */
.nav-item:hover .dropdown-menu {
    display: block;
}
